<h1>Editing Session</h1>

<%= render 'form', session: @session %>

<%= link_to 'Delete', session, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Show', @session %> |
<%= link_to 'Back', sessions_path %>
