<h1>Editing Timeslot</h1>

<p><strong>Timeslot ID:</strong> <%= @timeslot.id %></p>

<%= render 'form', timeslot: @timeslot %>

<%= link_to 'Show', @timeslot %> |
<%= link_to 'Back', timeslots_path %>
